
@font-face {
    font-family: GeomGraphicSemiBold;
    src: url(../font/GeomGraphicSemiBold/font.woff2);
}

* {
    box-sizing: border-box;
    color: aliceblue;
    margin: 0;
    padding: 0;
    font-family:"GeomGraphicSemiBold";
    font-size: 15px;
}

hr{
  width: 80%;
  margin: 1% auto;
}

body{
    background-color: black;
}

/*Inicio header*/
header{
    background-color: rgba(0, 0, 0, 0.541);
    display: flex;
    width: 100%;
    align-items: center;
    padding: 5px 20%;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    overflow: hidden;
    position: fixed;
}

header .logo{
    display: flex;
}

header .logo img{
    height: 70px;
    width: 286px;
}

header .sections ul{
    list-style: none;
    display: flex;
}

header .sections ul li{
    padding: 0 50px;
}

header .sections ul li a{
    text-decoration: none;
    color:white;
    font-size: 12px;
}

header .sections ul li :hover{
    text-decoration: underline;
}
/*End header*/

/*section*/

.slideshow-container {
    max-width: 80%;
    margin: auto;
  }

  .slideshow-container .slider_text{
    position: relative;
    bottom: 70px;
    left: 40px;
    font-size: 40px;
  }
  
  /* Hide the images by default */
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: calc(790px/2);
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 10%;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */

/*section end*/

/*sections_*/
  .sections_a{
    display: flex;
    padding: 3%;
    justify-content: space-between;
    background-image: url('');
  }

  .sections_a img{
    width: 500px;
  }

  .sections_a div{
  

  }


/*sections_ end*/

/*button*/
.contact a.btn{
  padding: 1%;
  margin: 2%;
  position: relative;
  left: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8%;
  height: 10%;
}

.contact .btn{
  background: #ffffff;
  color: #000000;
  text-decoration: none;
  border: none;
}

.contact a.btn :hover{
  background-color: #242424;
  color: #f2f2f2;
}
/*button end*/

/*footer*/
footer{
  display: flex;
  justify-content: space-between;
  padding: 0px 26%;
  color: rgb(170, 172, 187);
}

footer div{
  display: inline-block;
  padding: 20px 0;
}

footer div h5{
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-size: 16px;
}

footer div ul{
  list-style: none;
}

footer div a{
  text-decoration: none;
  color: rgb(170, 172, 187);
}

footer div .media img{
  width: 30px;
  height: 30px;
}

footer div ul li .media li{
  padding: 5% 5%;
  display: inline-block;
}

footer .dep li{
  padding: 10% 0;
}

/*footer end*/

/*project*/
.hideo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 2%;
}
.cuote p{
  text-align: center;
  padding-bottom: 2%;
}

.story{
  margin: 2%;
  background: fixed;
  background-image: url('../img/logo.png')
}

.story h5{
  font-size: 20px;
  text-align: center;
}

.story p{
  width: 80%;
  padding-left: 20%;
  justify-content: center;
  text-align: center;
  padding-bottom: 2%;
}

br{
  margin: 1%;
}
/*project end*/